@font-face {
	font-family: 'icomoon_extras';
	src:url('fonts/icomoon_extras/icomoon_extras.eot?pk4qlb');
	src:url('fonts/icomoon_extras/icomoon_extras.eot?pk4qlb#iefix') format('embedded-opentype'),
		url('fonts/icomoon_extras/icomoon_extras.ttf?pk4qlb') format('truetype'),
		url('fonts/icomoon_extras/icomoon_extras.woff?pk4qlb') format('woff'),
		url('fonts/icomoon_extras/icomoon_extras.svg?pk4qlb#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon_extras';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e900";
}
.icon-image:before {
	content: "\e901";
}
.icon-camera:before {
	content: "\e902";
}
.icon-music:before {
	content: "\e903";
}
.icon-play:before {
	content: "\e904";
}
.icon-video-camera:before {
	content: "\e905";
}
.icon-connection:before {
	content: "\e906";
}
.icon-mic:before {
	content: "\e907";
}
.icon-phone:before {
	content: "\e908";
}
.icon-pushpin:before {
	content: "\e909";
}
.icon-location:before {
	content: "\e90a";
}
.icon-bubble2:before {
	content: "\e90b";
}
.icon-cog:before {
	content: "\e90c";
}
.icon-bin:before {
	content: "\e90d";
}
.icon-menu:before {
	content: "\e90e";
}
.icon-earth:before {
	content: "\e90f";
}
.icon-plus:before {
	content: "\e910";
}
.icon-minus:before {
	content: "\e911";
}
.icon-cancel-circle:before {
	content: "\e912";
}
.icon-cross:before {
	content: "\e913";
}
.icon-checkmark:before {
	content: "\e914";
}
.icon-checkmark2:before {
	content: "\e915";
}
.icon-shift:before {
	content: "\e91a";
}
.icon-checkbox-checked:before {
	content: "\e91b";
}
.icon-checkbox-unchecked:before {
	content: "\e91c";
}
.icon-radio-checked:before {
	content: "\e91d";
}
.icon-radio-checked2:before {
	content: "\e91e";
}
.icon-radio-unchecked:before {
	content: "\e91f";
}

