.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.systemcontainers {
}
.searchcontainer {
}
.shape {
}
.box_1 {
  font-family:'FiraSans-Book', 'Fira Sans Book', 'Fira Sans';
  font-weight:300;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.box_2 {
}
.box_3 {
}
.image {
  color:#000000;
}
.placeholder {
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  text-align:left;
}
.heading_6 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_link {
  color:#0000FF;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.horizontal_line {
}
.shape1 {
}
.image1 {
  color:#000000;
}
.paragraph1 {
  text-align:left;
}
.text_link1 {
  color:#0000FF;
}
.text_link_mouse_over {
}
.text_link_mouse_down {
}
.tab_blue {
  font-family:'FiraSans-Regular', 'Fira Sans';
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.tab_orange {
  font-family:'FiraSans-Regular', 'Fira Sans';
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.tab_white {
  font-family:'FiraSans-Regular', 'Fira Sans';
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.tab_teal {
  font-family:'FiraSans-Book', 'Fira Sans Book', 'Fira Sans';
  font-weight:300;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
.box_white {
}
